:root {
    --bg-color: #012043;
    --header-color: #011731;

    --card-color: #ffff;

    --primary-color: #093263;
    --secondary-color: #1366cc;
    --tertiary-color: #042249;
    --fourth-color: #354a66;

    --human-color: #7159b8;
    --floran-color: #4fa569;
    --glitch-color: #ba795e;
    --novakid-color: #bb64a7;
    --apex-color: #5970b7;
    --hylotl-color: #5a9eb9;

    --text-color: #ffffff;

    --card-image: url('../images/card_img/default-race-image.jpg');
}

* {font-family: 'Open Sans', sans-serif;}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}



     /**************/
    /*** header ***/
   /**************/

.header {
    width: 100%;
    height: 10%;
    background-color: var(--header-color);
    position: fixed;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.header .image {
    width: 80%;
    display: flex;
    flex-direction: row;
}



     /************/
    /*** menu ***/
   /************/
   
.menu {
    width: 10%;
}

.btn-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    list-style: none;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    top: 0;
    left: -105%;
    transition: .5s linear;
    z-index: 2;
    transform: translateZ(0);
}

.hidden-menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 60px;
    color: var(--text-color);
    transition: .3s ease-out;
}

.hidden-menu a:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.hidden-menu-ticker {
    display: none;
}

.btn-menu-content {
    color: var(--text-color);
    position: fixed;
    cursor: pointer;
    transition: .3s ease-out;
    z-index: 3;
    width: 30px;
    transform: translateZ(0);
}

.btn-menu-content span {
    display: block;
    height: 3px;
    background-color: var(--fourth-color);
    margin: 7px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}

.btn-menu-content span.first {
    margin-top: 0;
}

.hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.first {
    transform: rotate(45deg);
    top: 10px;
}

.hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
    transform: rotate(-45deg);
    top: -10px;
}



     /************/
    /*** grid ***/
   /************/

.grid {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 150px auto;
    gap: 32px;
}

.row {
    display: flex;
    gap: 16px;
}

.cell {
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--card-color);
}

.centered {justify-content: center;}
.lefted   {justify-content: flex-start;}
.righted  {justify-content: flex-end;}


     /************/
    /*** card ***/
   /************/

.card.explications .content * {
    display: flex;
    justify-content: center;
    text-align: center;
}

.card.apex    {
    --card-title-color: var(--apex-color);
    --card-image: url("../images/card_img/races/lili-ibrahim-starbound-apex.jpg");}
    
.card.human   {
    --card-title-color: var(--human-color);
    --card-image: url("../images/card_img/races/lili-ibrahim-starbound-human.jpg");}

.card.floran  {
    --card-title-color: var(--floran-color);
    --card-image: url("../images/card_img/races/lili-ibrahim-starbound-floran.jpg");}

.card.glitch  {
    --card-title-color: var(--glitch-color);
    --card-image: url("../images/card_img/races/lili-ibrahim-starbound-glitch.jpg");}

.card.novakid {
    --card-title-color: var(--novakid-color);
    --card-image: url("../images/card_img/races/lili-ibrahim-starbound-novakid.jpg");}

.card.hylotl  {
    --card-title-color: var(--hylotl-color);
    --card-image: url("../images/card_img/races/lili-ibrahim-starbound-hylotl.jpg");}

.card.screenshots {
    --card-tilte-color: var(--primary-color);
    width: 100%;
}


.card .image {
    width: 25%;
    min-height: 100%;
    background-image: var(--card-image);
    background-size: cover;
    background-position: center;    
}

.card .content {
    width: 75%;
    padding: 16px 32px;
}

.card .content p {
    margin: 0;
    margin-bottom: 12px;
}

.card .content p.sub-title {
    text-decoration: underline;
    font-size: 16pt;
}

.card .content h2 {
    margin: 0;
    font-size: 48pt;
    margin-bottom: 16px;
    color: var(--card-title-color);
    text-decoration: underline;
}

.content.index h2              {--card-title-color: var(--primary-color);}
.content.screenshots h2        {--card-title-color: var(--primary-color);}
.card.explications .content h2 {--card-title-color: var(--primary-color);}



     /*********************/
    /*** index content ***/
   /*********************/

.cell a {
    width: 100%;
    text-decoration: none;
}

.cell.index .card {
    flex-direction: column;
    align-items: center;
}

.cell.index .card.title h2 {
    font-size: 28pt;
    text-decoration: none;
}

.cell.index .card p {
    text-align: center;
    padding: 32px 16px;
    margin: 0;
}

.card.official {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card.official .image {
    background-image: var(--card-image);
    height: 200px;
    width: 100%;
}

.card.official .image.test {
    background-position-y: 65%;
}

.card.official .chucklefish {--card-image: url('../images/chucklefish_background.jpg')}
.card.official .discution   {--card-image: url('../images/outpost-bg-card.jpg')}
.card.official .test        {--card-image: url('../images/test-bg-card.jpg')}
.card.official .list        {--card-image: url('../images/list-bg-card.jpg')}

.card iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.content.textcenter {
    text-align: center;
}

.content.index {
    width: 100%;
    padding: 0;
}

.content.index p {
    padding: 16px 32px;
}

.content.index h3 {
    color: #000000;
}
